html {font-size: 100%;}

body {
  background: linear-gradient(to bottom, #FBFBFB, #EEEEEE);
  color: #232323;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6rem;
  padding: 1rem;
  }

a:link, a:visited {
  color: #9e379f;
  text-decoration: underline;
  text-decoration-color: #e86af0;
  text-underline-offset: 0.1rem;
  }

a:hover {text-decoration-color: #9e379f;}

a.current-nav:link, a.current-nav:visited {
  color: #232323;
  font-weight: 400;
  text-decoration: none; 
  }

.about-pic {
  border-radius: 50%;
  float: left;
  height: 2rem;
  margin: 0rem 2rem 0rem 0rem;
  width: 2rem;
  }

.content {
  margin: 2rem auto 2rem 1rem;
  max-width: 50rem;
  }

@font-face {
  font-family: 'Lato';
  src: URL("files/fonts/LatoLatin-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  }

@font-face {
  font-family: 'Lato';
  src: URL("files/fonts/LatoLatin-LightItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 300;
  }

@font-face {
  font-family: 'Lato';
  src: URL("files/fonts/LatoLatin-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  }

@font-face {
  font-family: 'Lato';
  src: URL("files/fonts/LatoLatin-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  }

footer {margin-top: 4rem;}

.footer-logo {
  border-radius: 50%;
  height: 1.5rem; 
  margin-right: .5rem; 
  vertical-align: middle; 
  width: 1.5rem;
  }

footer p {
  border-top: 1px solid #CCCCCC;
  color: #676767;
  font-size: .8rem;
  font-weight: 300;
  line-height: 1.4rem;
  margin: 0 2rem 0 1rem;
  padding-top: 1rem;
  vertical-align: middle;
  }

h1 {font-family: "Lato", sans-serif; font-size: 2rem; font-weight: 500; line-height: 2.6rem; margin: 0 0 .5rem 0;}
h1 a:link, h1 a:visited {color: #232323; text-decoration: none;}
h2 {font-size: 1.6rem; font-weight: 400; margin: 2.3rem 0 .5rem 0;}
h3 {font-size: 1.3rem; font-weight: 400; margin: 2.1rem 0 .1rem 0;}
h4 {font-size: 1rem; font-weight: 400; margin: 1.8rem 0 .1rem 0;}
h5 {font-size: .8rem; font-weight: 400; margin: 1.2rem 0 0 0;}

.h3-space {margin-top: .8rem;}

.hero {
  margin: 1rem auto 3rem 1rem;
  max-width: 50rem;
  }

hr {
  background: linear-gradient(to bottom, #DDDDDD, #EEEEEE);
  border: 0;
  border-radius: .2rem;
  height: 5px;
  margin: 3rem 0 1rem 0;
  }

nav {display: flex;}
nav p {margin-right: 2rem;}

p {margin: .3rem 0 1rem 0;}

ul {margin: .5rem 0 1rem 0;}
ul ul {margin: 0 0 1rem 0; padding: 0 0 0 1.5rem;}

.updated {color: #676767; font-size: .8rem; font-style: italic; margin: .5rem 0 1rem 0;}
