html {font-size: 100%;}

body {
  background: linear-gradient(to bottom, #FBFBFB, #EEEEEE);
  color: #333333;
  font-family: Manrope, sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.7rem;
  padding: 1rem;
  }

a:link, a:visited {
  color: #9e379f;
  text-decoration: underline;
  text-decoration-color: #e86af0;
  text-underline-offset: 0.1rem;
  }

a:hover {text-decoration-color: #9e379f;}

a.current-nav:link, a.current-nav:visited {
  color: #333333;
  text-decoration: none; 
  }

.content {
  margin: 3rem auto 3rem 1rem;
  max-width: 50rem;
  }

@font-face { 
  font-family: "Manrope";
  src: 
  local("Manrope"),
  url("files/Manrope-VariableFont_wght.ttf") format("ttf"); 
  }

footer {margin-top: 6rem;}

.footer-logo {height: 1rem; vertical-align: middle; width: 1rem;}

footer p {
  border-top: 1px solid #CCCCCC;
  color: #777777;
  font-size: .7rem;
  line-height: 1.4rem;
  margin: 0 2rem 0 1rem;
  padding-top: 1rem;
  }

h1 {font-family: "Manrope", sans-serif; font-size: 3rem; font-weight: 300; line-height: 3.5rem; margin: 0 0 .5rem 0;}
h1 a:link, h1 a:visited {color: #333333; text-decoration: none;}
h2 {font-size: 2.2rem; font-weight: 300; margin: 2.6rem 0 .5rem 0;}
h3 {font-size: 1.8rem; font-weight: 300; margin: 2.2rem 0 .1rem 0;}
h4 {font-size: 1.4rem; font-weight: 400; margin: 1.8rem 0 .1rem 0;}

.h3-space {margin-top: .8rem;}

.hero {
  margin: 1rem auto 3rem 1rem;
  max-width: 50rem;
  }

hr {
  background: linear-gradient(to bottom, #DDDDDD, #EEEEEE);
  border: 0;
  border-radius: .2rem;
  height: 5px;
  margin: 3rem 0;
  }

nav {display: flex;}
nav p {margin-right: 2rem;}

p {margin: .3rem 0 1rem 0;}

ul {margin: .5rem 0;}
 