:root {
  --dark-bg: #121212;
  --dark-color: #DDDDDD;
  --dark-color-muted: #999999;
  --dark-headshot-border: #343434;
  --dark-hr: #232323;
  --dark-logo: url('/files/brand/bradlau-logo-2025.svg');
  --light-bg: #FFFFFF;
  --light-color: #232323;
  --light-color-muted: #676767;
  --light-headshot-border: #DDDDDD;
  --light-hr: #EEEEEE;
  --light-hover: #e86af0;
  --light-link: #9e379f;
  --light-logo: url('/files/brand/bradlau-logo-2025.svg');
}

html {font-size: 100%;}

body {
  background: var(--light-bg);
  color: var(--light-color);
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6rem;
  padding: 1rem;
  }

a:link, a:visited {
  color: var(--light-link);
  text-decoration: underline;
  text-decoration-color: var(--light-link);
  text-underline-offset: 0.1rem;
  }

a.current-nav:link, a.current-nav:visited {
  color: var(--light-color);
  font-weight: 700;
  text-decoration: underline; 
  text-decoration-color: var(--light-color);
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 2px;
  }

a.other-nav:link, a.other-nav:visited {
  text-decoration: none;   
  }

a:hover {
  text-decoration-color: var(--light-hover);
  text-decoration-thickness: 2px;
  }

.about-intro {
  align-items: center; 
  /* display: flex; --> */
  display: grid;
  grid: auto-flow / 8rem 1fr;
  margin-bottom: 1rem;
  }

.about-intro img {
  border: 2px solid var(--light-headshot-border);
  border-radius: 50%;
  margin: 0 1rem 0 0;
  width: 7rem;
  }

.about-intro p {
  min-width: 16rem; 
  max-width: 40rem;
  }

@media (max-width: 500px) {
  .about-intro {grid-template-columns: 1fr;}
  .about-intro img {margin: 0 auto;}
  .about-intro p {text-align: center;}
  }

.content {
  max-width: 50rem;
  }

@font-face {
  font-family: 'Lato';
  src: URL("files/fonts/LatoLatin-Hairline.woff2") format("woff2");
  font-style: normal;
  font-weight: 100;
  }

@font-face {
  font-family: 'Lato';
  src: URL("files/fonts/LatoLatin-Thin.woff2") format("woff2");
  font-style: normal;
  font-weight: 200;
  }

@font-face {
  font-family: 'Lato';
  src: URL("files/fonts/LatoLatin-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  }

@font-face {
  font-family: 'Lato';
  src: URL("files/fonts/LatoLatin-LightItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 300;
  }

@font-face {
  font-family: 'Lato';
  src: URL("files/fonts/LatoLatin-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  }

@font-face {
  font-family: 'Lato';
  src: URL("files/fonts/LatoLatin-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  }

@font-face {
  font-family: 'Lato';
  src: URL("files/fonts/LatoLatin-Semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  }

@font-face {
  font-family: 'Lato';
  src: URL("files/fonts/LatoLatin-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  }

@font-face {
  font-family: 'Lato';
  src: URL("files/fonts/LatoLatin-Heavy.woff2") format("woff2");
  font-style: normal;
  font-weight: 800;
  }

@font-face {
  font-family: 'Lato';
  src: URL("files/fonts/LatoLatin-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
  }

footer {
  align-items: center;
  border-top: 2px solid var(--light-hr);
  display: flex; 
  margin-top: 4rem;
  max-width: 50rem;
  }

footer img {
  border-radius: 50%;
  height: 1.5rem; 
  margin: .5rem .5rem 0 0;
  width: 1.5rem;
  }

footer p {
  font-size: .8rem;
  font-weight: 300;
  line-height: 1rem;
  margin: .5rem 0 0 0;
  }

h1 {font-family: "Lato", sans-serif; font-size: 2rem; font-weight: 600; line-height: 2.6rem; margin: 0;}
h2 {font-size: 1.7rem; font-weight: 600; margin: 0;}
h3 {font-size: 1.2rem; font-weight: 600; margin: 0;}
h4 {font-size: 1rem; font-weight: 600; margin: 0;}
h5 {font-size: .8rem; font-weight: 600; margin: 0;}

.h3-space {margin-top: .8rem;}

.hero {
  margin: 0 0 2.2rem 0;
  max-width: 50rem;
  }

hr {
  background: var(--light-hr);
  border: 0;
  border-radius: .2rem;
  height: 4px;
  margin: 2rem 0;
  }

nav {display: flex;}
nav p {font-weight: 700; margin-right: 2rem;}

.now-update-title {margin: 1.1rem 0 0 0}
.now-update-sub-title {margin: -1rem 0 0 1rem}

.now-update-body {margin: 0 0 1.5rem 0}
.now-update-sub-body {margin: 0 0 2rem 1rem}

p {margin: .3rem 0 1rem 0;}

.professional-bio {margin-top: 1rem;}
.professional-bio p:nth-child(3) {margin-top: 1.1rem;};

strong {font-weight: bolder;}

ul {margin: .5rem 0 1rem 0;}
ul ul {margin: 0 0 1rem 0; padding: 0 0 0 1.5rem;}

.updated {color: var(--light-color-muted); font-size: .8rem; font-style: italic; margin: .3rem 0 0 0;}

@media (prefers-color-scheme: dark) {
  body {color: var(--dark-color); background: var(--dark-bg)}
  a.current-nav:link, a.current-nav:visited {color: var(--dark-color); text-decoration-color: var(--dark-color)}
  .about-intro img {border: 2px solid var(--dark-headshot-border);}
  footer {border-top: 2px solid var(--dark-hr);}
  hr {background: var(--dark-hr);}
  .updated {color: var(--dark-color-muted);}
  }
